@import url('../public/fonts/fonts.css');
:root {
  --background: #f6f6f6;
  --color-error: #ef4444;
  --btn-primary: #6d28d9;
  --text-white: #fff;
  --color-white: #fff;
  --color-gray: #e5e7eb;
  --box-shadow: 0 0 20px 10px rgb(238, 238, 238);
  --background-app-rgb: 255, 255, 255;
  --color-primary-900: 74, 109, 255;
  --color-primary-800: 92, 124, 255;
  --color-primary-700: 110, 138, 255;
  --color-primary-600: 128, 153, 255;
  --color-primary-500: 146, 167, 255;
  --color-primary-400: 164, 182, 255;
  --color-primary-300: 183, 197, 255;
  --color-primary-200: 201, 211, 255;
  --color-primary-100: 219, 226, 255;
  --color-primary-50: 228, 233, 255;
  --color-secondary-900: 17, 24, 39;
  --color-secondary-800: 31, 41, 55;
  --color-secondary-700: 55, 65, 81;
  --color-secondary-600: 75, 85, 99;
  --color-secondary-500: 107, 114, 128;
  --color-secondary-400: 156, 163, 175;
  --color-secondary-300: 209, 213, 219;
  --color-secondary-200: 229, 231, 235;
  --color-secondary-100: 243, 244, 246;
  --color-secondary-50: 249, 250, 251;
  --color-secondary-0: 255, 255, 255;
  --color-success: 0, 192, 115;
  --color-warning: 255, 153, 0;
  --color-red-500: 239, 68, 68;
  --color-red-300: 252, 165, 165;
}

* {
  font-family: 'Vazir', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  user-select: none;
  background-color: var(--background);
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Vazir', sans-serif;
}

button {
  cursor: pointer;
  outline: none;
  margin-top: 1.6rem;
}

button:disabled {
  cursor: default;
  background-color: rgb(var(--color-secondary-100), 0.5);
  pointer-events: none;
  box-shadow: none;
}
.header {
  position: relative;
  margin-bottom: 3rem;
}
.header__img img {
  width: 100%;
  height: 350px;
  margin-top: -10px;

  /* margin-top: -10px; */
}
/* TABLE */
.table-container {
  width: 750px;
  height: 400px;
  overflow: auto;
  margin-bottom: 2rem;
  box-shadow: var(--box-shadow);
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  height: 400px;
}

table td,
table th {
  border-bottom: 1px solid rgb(var(--color-secondary-200));
  text-align: center;
  white-space: nowrap;
}

table th {
  padding: 0.6rem 1rem;
  color: rgb(var(--color-secondary-600));
  font-size: 0.9rem;
}

table td {
  font-size: 0.85rem;
  padding: 1rem 1rem;
  color: rgb(var(--color-secondary-600));
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.unsorted-table__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.unsorted-table__sort-button {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  background-color: var(--btn-primary);
  color: var(--color-white);
  box-shadow: var(--box-shadow);
  margin-bottom: 1rem;
}
.sorted-table h2 {
  margin-bottom: 1rem;
}
.app-container {
  height: 100vh;
  min-width: 1280px;
}
.form {
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-control {
  position: absolute;
  top: 15rem;
  height: auto;
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: 0.5rem;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  box-shadow: var(--box-shadow);
}
/* input */
.text-field__label {
  display: block;
  margin-bottom: 0.2rem;
  font-size: 14px;
}
.text-field__input {
  width: calc(100% - 2rem);
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  background-color: var(--background);
  color: #1f2937;
  border: 1px solid #d1d5db;
  outline: none;
  transition: all 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field__input:hover {
  border-color: #93c5fd;
}

.text-field__input:focus {
  outline: none;
  border-color: #93c5fd;
  box-shadow: 0 0 0 0.125rem rgba(59, 130, 246, 0.25);
  background-color: #ffffff;
}

.text-field__error {
  color: var(--color-error);
  margin-top: 0.5rem;
  font-size: 12px;
  display: block;
  width: 80%;
  padding-right: 0.5rem;
}
/* btn */
.btn.btn--primary {
  width: calc(100% - 2rem);
  border: none;
  font-size: 14px;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  outline: none;
  margin-bottom: 1rem;
  background-color: var(--btn-primary);
  color: var(--text-white);
}
