@import url('../public/fonts/fonts.css');
:root {
  --background: #f6f6f6;
  --color-error: #ef4444;
  --btn-primary: #6d28d9;
  --text-white: #fff;
  --color-white: #fff;
  --color-gray: #e5e7eb;
  --color-red: #ef4444;
  --text-black: #1f2937;
  --color-gray-100: #f2f2f2;
  --border-gray: #d1d5db;
  --box-shadow: 0 0 20px 10px rgb(238, 238, 238);
}

* {
  font-family: 'Vazir', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  user-select: none;
  background-color: var(--background);
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Vazir', sans-serif;
}

button {
  cursor: pointer;
  outline: none;
  margin-top: 1.6rem;
}

button:disabled {
  cursor: default;
  background-color: rgb(var(--color-secondary-100), 0.5);
  pointer-events: none;
  box-shadow: none;
}
.header {
  display: none;
}

/* TABLE */

.table-container {
  width: 300px;
  height: 400px;
  overflow: auto;
  margin-bottom: 2rem;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  height: 400px;
  box-shadow: var(--box-shadow);
}

table td,
table th {
  border-bottom: 1px solid rgb(var(--color-secondary-200));
  text-align: center;
  white-space: nowrap;
}

table th {
  padding: 0.6rem 1rem;
  color: rgb(var(--color-secondary-600));
  font-size: 0.9rem;
}

table td {
  font-size: 0.85rem;
  padding: 1rem 1rem;
  color: rgb(var(--color-secondary-600));
}
table tr:nth-child(even) {
  background-color: var(--color-gray-100);
}
/* init table */
.modal {
  position: relative;
  background-color: var(--color-white);
  width: 350px;
  height: 570px;
  padding: 2rem;
  border-radius: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}
.init-table__header p {
  margin-top: 6rem;
  font-size: 12px;
  font-weight: 300;
  width: 300px;
}
.init-table__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.btn--sort {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  background-color: var(--btn-primary);
  color: var(--color-white);
  margin-bottom: 1rem;
  margin-right: 11rem;
}
.btn--cancel {
  position: absolute;
  top: 10px;
  right: 10px;
}

.cancel-icon {
  width: 26px;
  height: 26px;
  cursor: pointer;
  font-size: 30px;
  color: var(--color-red);
}

.sorted-table {
  margin-top: 33rem;
}
.sorted-table__content {
  box-shadow: var(--box-shadow);
}
.sorted-table h2 {
  margin-bottom: 1rem;
}

.sorting-array {
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-control {
  position: absolute;
  height: auto;
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: 0.5rem;
  display: grid;
  gap: 2rem;
  box-shadow: var(--box-shadow);
  top: 4rem;
  width: 80%;
  grid-template-columns: repeat(1, 1fr);
}
/* input */
.text-field__label {
  display: block;
  margin-bottom: 0.2rem;
  font-size: 16px;
}
.text-field__input,
.input-table {
  width: calc(100% - 1rem);
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  background-color: var(--background);
  color: var(--text-black);
  border: 1px solid var(--border-gray);
  outline: none;
  transition: all 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-table {
  width: 80px;
}
.text-field__input:hover {
  border-color: #93c5fd;
}

.text-field__input:focus {
  outline: none;
  border-color: #93c5fd;
  box-shadow: 0 0 0 0.125rem rgba(59, 130, 246, 0.25);
  background-color: var(--colo-white);
}

.text-field__error {
  color: var(--color-error);
  margin-top: 0.5rem;
  font-size: 14px;
  display: block;
  width: 80%;
  padding-right: 0.5rem;
}
/* btn */
.btn.btn--primary {
  width: calc(100% - 2rem);
  border: none;
  font-size: 14px;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  outline: none;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--btn-primary);
  color: var(--text-white);
}
/* backdrop */

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  background-color: rgba(63, 69, 76, 0.8);
}

@media screen and (min-width: 1024px) {
  .form-control {
    top: 15rem;
    width: 750px;
    grid-template-columns: repeat(3, 1fr);
  }
  .header {
    display: block;
    position: relative;
    margin-bottom: 3rem;
  }
  .header__img img {
    width: 100%;
    height: 350px;
    margin-top: -12px;
  }
  .app-container {
    height: 100vh;
    min-width: 1280px;
  }

  .btn.btn--primary {
    width: calc(100% - 2rem);
    margin-right: none;
  }

  .modal {
    width: 800px;
    height: auto;
    padding: 1rem;
  }
  .init-table__header p {
    font-size: 16px;
    width: auto;
    margin-top: 0;
  }
  .init-table__header {
    flex-direction: row;
    margin-top: 1rem;
  }
  .btn--sort {
    margin-right: 0;
  }
  .table-container {
    width: 750px !important;
  }
  .sorted-table {
    margin-top: 2rem !important;
  }
}
@media screen and (min-width: 760px) {
  .modal {
    width: 700px;
  }
  .init-table__header p {
    font-size: 16px;
    width: auto;
    margin-top: 0;
  }
  .init-table__header {
    flex-direction: row;
    margin-top: 1rem;
  }
  .btn--sort {
    margin-right: 0;
  }
  .table-container {
    width: 600px;
  }
  .sorted-table {
    margin-top: 30rem;
  }
}
